@import url("css/normalize.css");

p.language-icon {
    bottom: 26px;
    position: absolute;
}


p.language-icon i{
    font-size: 1.4em;
}

p.language-icon span {
    font-size: 0.8em;
    padding-left: 5px;
}