[run]
branch = True
omit =
    */asgi.py
    */wsgi.py
    */admin.py
    */apps.py
    */models.py
    */migrations/*
    */settings.py
    */manage.py
    *__init__.py
    */*.pyx
    */*.pxd
    */*.pyi

[report]
show_missing = True
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
