flake8==3.5.0
flake8-commas==2.0.0
django-nose==1.4.5
git+https://github.com/nose-devs/nose
coverage==5.0.3
https://github.com/justcompile/django_test_utils/releases/download/0.1/django_test_utils-0.1.tar.gz
-r requirements.txt