celery==4.1.0
certifi==2018.4.16
chardet==3.0.4
Django==1.11.6
django-authtools==1.6.0
django-extensions==1.9.1
django-organizations==1.0.0
djangorestframework==3.8.2
social-auth-app-django==2.1.0
django-webpack-loader==0.6.0
jinja2==2.10
PyGithub==1.38
psycopg2-binary==2.7.4
docker==2.5.1
kubernetes==6.0.0
docker-pycreds==0.2.1
idna==2.6
pytz==2018.4
requests==2.18.4
passlib==1.7.1
six==1.11.0
urllib3==1.22
websocket-client==0.44.0
