{% load static %}<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Airflow as a Service</title>
  <!-- Use minimum-scale=1 to enable GPU rasterization -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"
  >
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>
<body>
  <header>
    <h1>Simple Social Auth</h1>
    {% if user.is_authenticated %}
      You are signed in as <strong>{{ user.username }}</strong> /
      <a href="{% url 'home' %}">home</a> /
      {% comment %} <a href="{% url 'settings' %}">settings</a> /
      <a href="{% url 'password' %}">change password</a> / {% endcomment %}
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a> /
      {% comment %} <a href="{% url 'signup' %}">signup</a> {% endcomment %}
    {% endif %}
    <hr>
  </header>
  <main>
    {% for message in messages %}
      <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
        {{ message }}
      </p>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </main>
  <script>
    var WebFontConfig = {
      google: { families: [ 'Roboto:400,300,500:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</body>
</html>