server {
    listen       ${NGINX_PORT};

    location / {
        proxy_pass http://justcompile.it;
        auth_basic "Private Property";
        auth_basic_user_file /etc/nginx/.sec/.htpasswd;
    }
}